<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETCore,Version=v3.1" />
	</startup>
	
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name=	"MetadataBehavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		
		<services>
			<service name="ECardsLibFramework.Services.ServiceCards" behaviorConfiguration="MetadataBehavior">
				<endpoint address="" binding="basicHttpBinding" contract="ECardsLibFramework.Services.IServiceCardsConnection">
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8301" />
						<add baseAddress="http://localhost:8302" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
</configuration>