[*.cs]

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.DocumentationRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.DocumentationRules.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity =none
csharp_using_directive_placement=outside_namespace:silent

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = none
